/*@font-face { font-family: AmericanTypewriter; src: url('http://alt.coxnewsweb.com/ajc/_projects_and_planning_group/newsquiz/assets/AmericanTypewriter.ttc'); } */

body {
	margin:0px;
	width:609px;
	/*font-family:AmericanTypewriter;
	font-size:12px;*/
}

a, a:hover, a:visited {
	color:#000;
	text-decoration:none;
}
.cmSource{
	text-align:right bottom;
	color: #9B9B9B;
}
#quizHolder {
	width:590px;
	height:900px;
	overflow:hidden;
	position:absolute;
	/*top:0; left:0;*/
}

#quizBackground {
	background-color:#fdfdfd;
	opacity:0.8;
	z-index:-10;
	position:absolute;
	top:0; left:0;
	width:590px;
	height:400px;
}

.q {
	display:inline;
	float:left;
	width:600px;
	height:400px;
}

#slider {
	width:10200px;
	height:400px;
	position:absolute;
	top:0px;
	left:0px;
}

.questions {
	width:580px;
	border-bottom:2px solid #ccc;
	padding:10px;
	margin-bottom:10px;
	font-size:18px;
	font-family:AmericanTypewriter;
}

.answerHolder {
	height:170px;
}

.answers {
	width:250px;
	height:60px;
	margin:5px 17px;
	padding:7px;
	border:1px solid #ccc;
	border-radius:10px;
	display:inline;
	float:left;
	background-color:#fff;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px#888;
	box-shadow: 1px 1px 5px #888;

}
	
#resultsBox {
	width:600px;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	opacity:0.9;
	z-index:100;
	color:#fff;
}
	
#result {
	margin:30px auto;
	width:350px;
	height:65px;
	font-size:60px;
	text-align:center;
	position:relative;
	font-weight:normal;
	font-weight:semi-bold;
	text-shadow:2px 3px #333;
}

#response {/*How is this different form #resultbox? It's not just the response text - look into it*/
	width:450px;
	height:200px;
	margin:15px auto;
	border-radius: 10px;
	border:8px solid white;
	background-color:#fff;
	color:#000;
	z-index:105;
	position:relative;
	padding:15px;
	-moz-box-shadow: 1px 1px 10px #888;
	-webkit-box-shadow: 1px 1px 10px #888;
	box-shadow: 1px 1px 10px #888;
}

#next {
/*	font-family:AmericanTypewriter;*/
	font-size:18px;
	width:170px;
	height:20px;
	background-color:#fff;
	color:#000;
	border-radius: 10px;
	position:absolute;
	text-align:center;
	right:20px;
	/*bottom:80px;*/
	padding:10px;
	-moz-box-shadow: 1px 1px 5px #ccc;
	-webkit-box-shadow: 1px 1px 5px #ccc;
	box-shadow: 1px 1px 5px #ccc;

}

#yourScore{
	width:250px;
	height:50px;
	margin:10px auto;
	text-align:center;
	font-size:28px;
	font-family:AmericanTypewriter;
}

#score {
	width:230px;
	height:100px;
	margin:10px auto;
	padding:10px;
	border-radius:10px;
	border:2px solid #000;
	background-color: #fff;
	font-size:80px;
	text-align:center;
	font-family:AmericanTypewriter;
	text-shadow: 2px 3px #ccc;
}

#scoreResponse {
	width:400px;
	height:auto;
	margin:10px auto;
	font-size:22px;
	text-align:center;
	font-family:AmericanTypewriter;
}

#tryAgain {
	width:165px;
	height:30px;
	padding:10px;
	background-color:#000;
	color:#fff;
	font-family:AmericanTypewriter;
	font-size:26px;
	position:absolute;
	bottom:30px;
	right:40px;
	border-radius:10px;
	-moz-box-shadow: 2px 2px 10px #ccc;
	-webkit-box-shadow: 2px 2px 10px #ccc;
	box-shadow: 2px 2px 10px #ccc;
	transform:rotate(-7deg);
	-webkit-transform:rotate(-7deg);
}

#finalResults {
	width:600px;
	height:400px;

}

#quizTitle {
	margin:10px auto;
	width:610px;
	text-align:center;
	height:45px;
	font-size:40px;
	/*font-family:AmericanTypewriter;*/
}

#week {/*not in use currently*/
	width:250px;
	margin:10px auto 20px auto;
	font-size:24px;
}

#introText {/*not in use currently*/
	margin:10px auto;
	width:550px;
	font-size:20px;
	text-align:center;
}


#begin {
	width:300px;
	height:90px;
	background-color:#000;
	background-repeat:no-repeat;
	color:#fff;
	position:relative;
	margin:30px auto;
	font-size:35px;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
	border-radius:15px;
	text-align:center;
}

#loader{width:600px;height:400px;position:absolute;}

.images {
	max-width:560px;
	max-height:800px;
	margin:5px auto;
	text-align:center;
	padding:0px;
}

.images img {/*not in use currently*/
padding:0px;
margin:0px;
max-width:560px;
max-height:800px;
border:1px solid #ccc;
-moz-box-shadow: 2px 2px 5px #888;
-webkit-box-shadow: 2px 2px 5px #888;
box-shadow: 2px 2px 5px #888;
}

#readIt, #readIt a, #readIt a:hover, #readIt a:visited{
	width:300px;
	height:30px;
	margin:5px auto;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-decoration:underline;
}

.correctAnswer {
	font-weight:bold;
}