.quiz_btn{
	cursor: pointer;
}
.cmSource{
	text-align:right bottom;
	color: #9B9B9B;
	font-size:12px
}
/*come back to this later - seems like we might be able to get rid of it since we are inside an iframe so overflow we be hidden anyway*/
#quizHolder {/*contains results box and slider*/
	width:600px;
	height:900px;
	overflow:hidden;
	position:absolute;
}
.q {/*each question and answer slide lives inside one of these*/
	float:left;
	width:600px;
}

#slider {
	width:10200px;
	position:absolute;
}

.questions {/*text of each question*/
	border-bottom:2px solid #ccc;
	padding:10px 10px 0;
	margin-bottom:10px;
}

.answers {
	width:250px;
	height:60px;
	margin:5px 17px;
	padding:7px;
	border:1px solid #ccc;
	border-radius:10px;
	float:left;
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px#888;
	box-shadow: 1px 1px 5px #888;
}
	
#resultsBox {/*holds the response area and next button*/
	width:100%;
	height:100%;
	position:absolute;
	opacity:0.9;
	z-index:100;
}

#response {/*How is this different form #resultbox? It's not just the response text - look into it*/
	max-width:450px;
	min-height:200px;
	margin:15px auto;
	border-radius: 10px;
	border:8px solid white;
	background-color:#fff;
	padding:15px;
	-moz-box-shadow: 1px 1px 10px #888;
	-webkit-box-shadow: 1px 1px 10px #888;
	box-shadow: 1px 1px 10px #888;
}

#next {
	font-size:18px;
	width:170px;
	height:20px;
	background-color:#fff;
	border-radius: 10px;
	text-align:center;
	padding:10px;
	float:right;
	margin: 0 10px;
	-moz-box-shadow: 1px 1px 5px #ccc;
	-webkit-box-shadow: 1px 1px 5px #ccc;
	box-shadow: 1px 1px 5px #ccc;
}

#yourScore{
	margin:10px auto 15px auto;
	text-align:center;
	font-size:28px;
}

#score {
	width:230px;
	height:100px;
	margin:10px auto;
	padding:10px;
	border-radius:10px;
	border:2px solid #000;
	font-size:80px;
	text-align:center;
	text-shadow: 2px 3px #ccc;
}

#scoreResponse {
	font-size:22px;
	text-align:center;
}

#quizTitle {
	margin:10px auto;
	text-align:center;
	font-size:40px;
}

/*#loader{width:600px;height:400px;position:absolute;}*/

.images {
	text-align:center;
}

.images img {
	margin-top:10px;
	max-width:560px;
	max-height:800px;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
}
@media only screen and (max-width: 599px){
	#quizHolder{
		width:320px;
	}
	.q{
		width:320px;
	}
	.images img{
		max-width:100%;
		max-height: 500px;
	}
}