.answers {
	height:20px;
	border-radius:5px;
}
	
#resultsBox {
	top:240px;
}

@media only screen and (max-width: 599px) {#resultsBox{top:150px;}}
#response {
	min-height:70px;
}
#response p{
	padding:0;
}
#yourScore{
	border-bottom:2px solid #ccc;	
}

#scoreResponse {
	width:80%;
	text-align:left;
	margin:auto;
}