
/*.answerHolder {
	height:170px;
}*/

.answers {
	height:20px;
	border-radius:5px;
}
	
#resultsBox {
	top:240px;
	left:0px;
}

#response {/*How is this different form #resultbox? It's not just the response text - look into it*/
	height:90px;
}

#yourScore{
/*	width:250px;
	height:50px;*/
}

#scoreResponse {
	width:80%;
}